{% extends "SccBundle:Default:index.html.twig" %}

{% block header %}

{% endblock %}

{% block body %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="bodyLogin">

        <img src="../img/loginBg.jpg">

        <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="text-center titleLogin">Login</h1>
                        <div class="modal-body">
                            <form class="form col-md-12 center-block" action="{{ path("login_check") }}" method="post">
                                <input class="form-control" type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" name="_username" value="{{ last_username }}" required="required" placeholder="Pseudo">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control input-lg" name="_password" required="required" placeholder="Mot de passe">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-lg btn-block btnLogin">Connexion</button>
                                </div>
                                <span class="pull-right"><a class="joinUs" href="{{ path("register") }}">Nous rejoindre</a></span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="helpBox"></div>

    </div>

{% endblock %}

{% block footer %}

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p><h3>Informations</h3>
                    MoovOne<br />
                    9 rue George V<br />
                    Email: contact@mooveone.com<br />
                    Tel: 0102030405<br />
                    <a href="#contact" data-toggle="modal" class="colorContact">Contactez-nous</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>Suivez notre actualité</h3>
                    <ul>
                        <a href="https://www.facebook.com/moovone" class="centerIconSpecial"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/moovone" class="centerIcons"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/moovone" class="centerIcons"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
                        <a href="https://plus.google.com/+MoovoneEu/" class="centerIcons"><i class="fa fa-google-plus fa-3x" aria-hidden="true"></i></a>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>À propos</h3>
                    <p>
                        Chez MoovOne, nous pensons qu’il faut permettre un accompagnement individualisé des managers
                        de proximité pour augmenter l’efficacité d’action de développement des compétences,
                        de conduite du changement ou l’amélioration générale des équipes.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!--Fenêtre informations contact-->

    <div class="modal fade" id="contact" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Contact</h4>
                </div>
                <div class="modal-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged.
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                    <button type="submit" class="btn btn-primary">Fermer</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}